/** @format */

body {
	color: #fff;
}

.image-container-box {
	max-width: 250px;
	display: grid;
	justify-items: center;
	background: #010415;
	border-radius: 5px;
	transition: 1s ease;
}

.image-container-box:hover {
	transform: scale(1.25);
	box-shadow: 0 0 10px rgba(73, 173, 239, 0.748);
}

.image {
	margin: 10px;
	object-fit: cover;
	max-width: 250px;
	max-height: 250px;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.image img {
	height: 100px;
	object-fit: cover;
}

.file-name {
	text-align: center;
	margin-top: 15px;
	font-size: 14px;
	color: #333;
}

.file-name:hover {
	color: #02ffbb;
	text-decoration: none;
	cursor: pointer;
	width: 100%;
}

.video-container-box {
	padding: 10px;
	max-width: 250px;
	justify-items: center;
	background: #010415;
	border-radius: 5px;
	transition: 1s ease;
}

.video-container-box:hover {
	transform: scale(1.25);
	box-shadow: 0 0 10px rgba(73, 173, 239, 0.748);
}

.video-container-box video {
	max-width: 100%;
	max-height: 100%;
}

.video-container-box div {
	text-align: center;
}

/* Styles for video container */
.video {
	/* margin: 10px; */
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
	display: inline-block;
	max-width: 100%;
	max-height: 200px;
	overflow: hidden;
}

/* Styles for video elements inside video containers */
.video video {
	max-block-size: 100%;
	height: 100%;
	object-fit: cover;
}

.video-container-box video::-webkit-media-controls-enclosure {
	display: none;
	color: red;
	background-color: red;
}

.audio-container-box {
	padding: 10px;
	max-width: 250px;
	justify-items: center;
	background: #010415;
	border-radius: 5px;
	transition: 1s ease;
}

.audio-container-box:hover {
	transform: scale(1.25);
	box-shadow: 0 0 10px rgba(73, 173, 239, 0.748);
}

.audio-container-box audio {
	width: 100%;
	background-color: #010415;
}

.audio-container-box audio::-webkit-media-controls-panel {
	background-color: #9585e5;
	color: #333;
	border-radius: 5px;
}

#docfileList {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	gap: 20px;
}

.doc-wrapper-container {
	max-width: 220px;
	justify-items: center;
	background: #010415;
	border-radius: 5px;
	transition: 1s ease;
}

@media screen and (max-width: 360px) {
	#docfileList {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
	}

	.doc-container-box {
		padding: 10px;
		max-width: 220px;
		justify-items: center;
		background: #010415;
		border-radius: 5px;
		transition: 1s ease;
		min-width: 200px;
	}
}

.doc-container-box {
	padding: 10px;
	justify-items: center;
	background: #010415;
	border-radius: 5px;
	transition: 1s ease;
}

.doc-container-box:hover {
	transform: scale(1.25);
	box-shadow: 0 0 10px rgba(73, 173, 239, 0.748);
}

/* File icons */
.doc-container-box i {
	font-size: 25px;
	padding-right: 10px;
	color: #007bff;
	text-align: left;
	align-items: center;
	float: left;
}

.doc-container-box .file-name {
	text-decoration: none;
	cursor: pointer;
	text-align: left;
	align-items: center;
}

.files-container {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	grid-gap: 20px;
}

#otherFilesList {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	gap: 10px;
}

.files-container-box {
	max-width: 250px;
	height: 54px;
	display: flex;
	justify-content: space-between;
	justify-items: center;
	align-items: center;
	background: #010415;
	border-radius: 5px;
	transition: 1s ease;
}

.files-container-box:hover {
	transform: scale(1.25);
	box-shadow: 0 0 10px rgba(73, 173, 239, 0.748);
}

.files-container-box i {
	float: left;
	font-size: 32px;
	margin: 10px;
	display: inline;
	justify-content: center;
	align-items: center;
}

.files-container-box .file-name {
	text-decoration: none;
	cursor: pointer;
	text-align: left;
	align-items: center;
	font-size: 12px;
	width: 100%;
	height: 100%;
	display: flexbox;
	justify-content: space-around;
}

.files-container-box-contents {
	display: flex;
	align-items: center;
}

.far.fa-file-pdf {
	color: red;
}

.far.fa-file-word {
	color: blue;
}

.far.fa-file-excel {
	color: green;
}

#videofileList,
#audiofileList,
#otherFilesList {
	margin-top: 20px;
}



#i41 {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 32.5px;
	line-height: 20px;
	outline: 0;
	border: 0;
	display: none;
	font-size: 1em;
	border-radius: 20px;
	padding: 0 20px;
}

.fa {
	box-sizing: border-box;
	padding: 5px;
	width: 32.5px;
	height: 32.5px;
	position: absolute;
	top: 0;
	right: 0;
	border-radius: 50%;
	color: #ffffff;
	text-align: center;
	font-size: 1.2em;
	transition: all 1s;
}

#search-form:hover,
#search-form:valid {
	width: 200px;
	cursor: pointer;
}

#search-form:hover #i41,
f#search-form:valid #i41 {
	display: block;
}

#search-form:hover .fa,
#search-form:valid .fa {
	background: #13161675;
	color: rgb(255, 0, 0);
}



#search-form:valid a {
	display: block;
}


/* Style for the context menu container */
.context-menu-container {
    position: absolute;
    background-color: #05074c;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgb(6, 249, 201);
    z-index: 1000;
    padding: 10px;
	color: #f1eeee;
}

/* Style for the context menu buttons */
.context-menu-button {
    display: flex;
    align-items: center;
    background-color: transparent;
    border: none;
    padding: 5px;
    width: 100%;
    text-align: left;
    cursor: pointer;
}

.context-menu-button .icon {
    margin-right: 8px;
}

.context-menu-button:hover {
    background-color: #05074cb9;
	color: #00ff59;
}

.context-menu-button .fas {
    font-size: 14px;
}

/* ################################## */

.share-context-menu-container {
    position: fixed;
    background-color: #05074c;
    border: 1px solid #ccc;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;
    z-index: 9999; /* Ensure it's above other elements */
	color: #ffffff;
}

.share-context-menu-header {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 16px;
	color: #ffffff;
}

.context-menu-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: #333;
    margin-right: 10px; /* Add some space between buttons */
}

.context-menu-input {
    width: calc(100% - 20px); /* Adjust input width to fit container */
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; /* Ensure padding doesn't affect width */
}

.icon {
    margin-right: 5px;
}

/* Position the close button */
.context-menu-button.close-button {
    position: absolute;
    top: 5px;
    right: 5px;
}

/* Adjust close button icon position */
.context-menu-button.close-button .icon {
    margin-left: auto;
}

/* Style the Share button */
.shareButton {
    background-color: #183049;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 8px 12px;
    cursor: pointer;
    font-size: 16px;
}

/* Style the message holder */
.messageHolder {
    display: block;
    margin-top: 10px;
    color: #fffdfd;
    font-size: 14px;
}
