@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


:root {
  --app-bg-dark: #01081f;
  --app-bg-before: linear-gradient(
    180deg,
    rgba(1, 8, 31, 0) 0%,
    rgba(1, 8, 31, 1) 100%
  );
  --app-bg-before-2: linear-gradient(
    0deg,
    rgba(1, 8, 31, 0) 0%,
    rgba(1, 8, 31, 1) 100%
  );
  --app-bg-light: #151c32;
  --app-logo: #3d7eff;
  --nav-link: #5e6a81;
  --nav-link-active: #fff;
  --list-item-hover: #0c1635;
  --main-color: #fff;
  --secondary-color: #5e6a81;
  --color-light: rgba(52, 129, 210, 0.2);
  --warning-bg: #ffe5e5;
  --warning-icon: #ff8181;
  --applicant-bg: #e3fff1;
  --applicant-icon: #61e1a1;
  --close-bg: #fff8e5;
  --close-icon: #fdbc64;
  --draft-bg: #fed8b3;
  --draft-icon: #e9780e;
}

/* ***************************

*************************** */
body {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  background-color: #050e2d;
  color: #fff;
}

h1,
h2,
h3,
h4,
h5 {
  color: #fff;
  font-family: "Poppins", sans-serif;
}
hr{
  width: 150px;
  height: 2px;
  color: #ec0c0c;
  background-color: #ec0c0c;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background-color: #05123C;
}

::-webkit-scrollbar-thumb {
  background-color: #2855eb;
  border-radius: 5px;
}

.app-container {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  max-width: 1680px;
}

.app-left {
  flex-basis: 240px;
  background-color: var(--app-bg-dark);
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 24px 0;
  transition: all 0.4s ease-in;
}
.app-left.show {
  right: 0;
  opacity: 1;
}

.app-main {
  flex: 1;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: var(--app-bg-light);
  padding: 24px;
  background: radial-gradient(circle, rgb(5, 19, 64) 1%, rgb(4, 15, 50) 100%);
}

.app-right {
  flex-basis: 320px;
  width: 320px;
  background-color: var(--app-bg-dark);
  height: 100%;
  padding: 64px 0 0 0;
  display: flex;
  flex-direction: column;
  position: relative;
  transition: all 0.4s ease-in;
}
.app-right:before {
  content: "";
  position: absolute;
  bottom: 0;
  height: 48px;
  width: 100%;
  background-image: var(--app-bg-before);
  z-index: 1;
}
.app-right.show {
  right: 0;
  opacity: 1;
}
.app-right .close-right {
  display: none;
}

.app-right-content {
  flex: 1;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.app-logo {
  display: flex;
  align-items: center;
  color: var(--app-logo);
  margin-right: 16px;
  padding: 0 24px;
}
.app-logo span {
  color: #fff;
  display: inline-block;
  line-height: 24px;
  font-size: 16px;
  margin-left: 16px;
}

ul {
  list-style-type: none;
  padding: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
}

button {
  cursor: pointer;
}

.nav-list {
  margin-top: 40px;
}

.nav-list-item {
  margin-bottom: 12px;
}
.nav-list-item:not(.active):hover {
  background-color: var(--list-item-hover);
}
.nav-list-item.active .nav-list-link {
  color: var(--nav-link-active);
}
.nav-list-item.active .nav-list-link:after {
  height: 100%;
  opacity: 1;
}
.nav-list-item.active svg {
  stroke: var(--app-logo);
}

.nav-list-link {
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  padding: 8px 24px;
  color: var(--nav-link);
  display: flex;
  align-items: center;
  position: relative;
}
.nav-list-link svg {
  margin-right: 12px;
}
.nav-list-link:after {
  content: "";
  height: 100%;
  width: 2px;
  background-color: var(--app-logo);
  right: 0;
  top: 0;
  position: absolute;
  border-radius: 2px;
  opacity: 0;
  height: 0;
}

#fileList, #audiofileList, #videofileList, #photosfileList {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
  }

  /* .card {
    position: relative;
    background-color: #ffffff00;
    border-radius: 8px;
    transition: transform 0.3s ease-in-out;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px;
    height: 120px;
    justify-content: center;
    align-items: center;
  }  */

  .card {
    position: relative;
    background-color: #ffffff00;
    border-radius: 8px;
    box-shadow: 1px 1px 10px rgba(3, 102, 87, 0.646);
    transition: transform 0.3s ease-in-out;
    overflow: hidden;
    /* text-overflow: ellipsis; */
    max-width: 280px;
    height: 120px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
  }

  .card:hover {
    transform: translateY(-5px);
    overflow: hidden;
    text-overflow: ellipsis;
    box-shadow: 1px 1px 10px rgba(3, 102, 87, 0.646);
    color: red;
  }

  .card img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: contain;
    align-items: center;
}

  #lA-21 {
    text-decoration: none;
    color: #000000;
    font-size: 12px;
    line-height: 14px;
    margin-left: 15px;
    margin-bottom: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;

  }


  .card-content {
    margin-top: auto;
    padding: 10px;
}


  a:hover {
    text-decoration: underline;
  }

  .folder-contents {
    display: none;
  }

  .show {
    display: block !important;
  }

  .folder-contents div {
  display: grid;
  background-color: #bfb2b2;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  }


  .folder-contents div:hover {
  transform: translateY(-5px);
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .folder-contents div:last-child {
  border-bottom: none;
  }

  .folder-contents a {
  text-decoration: none;
  color: #333;
  }

  .folder-contents a:hover {
  text-decoration: underline;
  color: deepskyblue;
  }



  #fileInput {
    margin-bottom: 10px;
  }


  button {
    width: 120px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
  }

  button:hover {
    background-color: #0056b3;
  }

  button:active {
    background-color: #004080;
  }


  #uploadMessage {
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
  }


  #uploadMessage.success {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
  }


  #uploadMessage.error {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
  }

  #progressBarContainer {
    margin-top: 50px;
    width: 100%;
    height: 10px;
    background-color: #f0f0f000;
    border-radius: 4px;

  }

  #progressBar {
    width: 80%;
    height: 100%;
    background-color: #3c1fa6;
    border-radius: 4px;
  }


  #log-12{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
    font-style: italic;
    color: #f8d7da;
  }

  #log-12:hover{
    color: #5fd2f9;
  }

  #log-12:active{
    color: #02ffbb;

  }







.open-right-area,
#open-right-area {
  display: none;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: var(--app-bg-dark);
  /* background: #000000; */
  border-radius: 4px;
  height: 40px;
  width: 40px;
  padding: 0;
}

.chart-row {
  display: flex;
  justify-content: space-between;
  margin: 0 -8px;
}
.chart-row.three .chart-container-wrapper {
  width: 33.3%;
}
.chart-row.three .chart-container-wrapper .chart-container {
  justify-content: space-between;
}
.chart-row.two .big {
  flex: 1;
  max-width: 77.7%;
}
.chart-row.two .big .chart-container {
  flex-direction: column;
}
.chart-row.two .small {
  width: 33.3%;
}
.chart-row.two .small .chart-container {
  flex-direction: column;
}
.chart-row.two .small .chart-container + .chart-container {
  margin-top: 16px;
}

.line-chart {
  width: 100%;
  margin-top: 24px;
}

.chart-container {
  width: 100%;
  border-radius: 10px;
  background-color: var(--app-bg-dark);
  padding: 16px;
  display: flex;
  align-items: center;
}
.chart-container.applicants {
  max-height: 336px;
  overflow-y: auto;
}

.chart-container-wrapper {
  padding: 8px;
}

.chart-info-wrapper {
  flex-shrink: 0;
  flex-basis: 120px;
}
.chart-info-wrapper h2 {
  /* color: var(--secondary-color); */
  color: #fff;
  font-size: 12px;
  line-height: 16px;
  font-weight: 600;
  text-transform: uppercase;
  margin: 0 0 8px 0;
}
.chart-info-wrapper span {
  color: var(--main-color);
  font-size: 24px;
  line-height: 32px;
  font-weight: 500;
}

.chart-container-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 12px;
}
.chart-container-header h2 {
  margin: 0;
  color: var(--main-color);
  font-size: 12px;
  line-height: 16px;
  opacity: 0.8;
}
.chart-container-header span {
  color: var(--app-logo);
  font-size: 12px;
  line-height: 16px;
}

.profile-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.profile-box:before {
  content: "";
  position: absolute;
  top: 100%;
  height: 48px;
  width: 100%;
  background-image: var(--app-bg-before-2);
  z-index: 1;
}

.profile-photo-wrapper {
  width: 80px;
  height: 80px;
  overflow: hidden;
  border-radius: 50%;
  margin-bottom: 16px;
}
.profile-photo-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profile-text,
.profile-subtext {
  font-size: 12px;
  line-height: 16px;
  color: var(--secondary-color);
  margin: 0 0 8px 0;
}

.profile-text {
  font-weight: 600;
}

.app-right-section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
  margin-top: 16px;
}
.app-right-section-header h2 {
  font-size: 14px;
  line-height: 24px;
  color: var(--secondary-color);
}
.app-right-section-header span {
  display: inline-block;
  color: var(--secondary-color);
  position: relative;
}
.app-right-section-header span.notification-active:before {
  content: "";
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: var(--app-logo);
  top: -1px;
  right: -1px;
  box-shadow: 0 0 0 2px var(--app-bg-dark);
}

.message-line {
  display: flex;
  align-items: center;
  padding: 8px 16px;
  margin-bottom: 8px;
}
.message-line:hover {
  background-color: var(--list-item-hover);
}
.message-line img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 8px;
}

.message-text-wrapper {
  max-width: calc(100% - 48px);
}

.message-text {
  font-size: 14px;
  line-height: 16px;
  color: var(--main-color);
  margin: 0;
  opacity: 0.8;
  width: 100%;
}

.message-subtext {
  font-size: 12px;
  line-height: 16px;
  color: var(--secondary-color);
  margin: 4px 0 0 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}

.activity-line {
  padding: 8px 16px;
  display: flex;
  align-items: flex-start;
  margin-bottom: 8px;
}

.activity-link {
  font-size: 12px;
  line-height: 16px;
  color: var(--app-logo);
  text-decoration: underline;
}

.activity-text {
  font-size: 12px;
  line-height: 16px;
  color: var(--secondary-color);
  width: 100%;
  margin: 0;
}
.activity-text strong {
  color: #fff;
  opacity: 0.4;
  font-weight: 500;
}

.activity-icon {
  border-radius: 8px;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  margin-right: 8px;
}
.activity-icon.warning {
  background-color: var(--warning-bg);
  color: var(--warning-icon);
}
.activity-icon.applicant {
  background-color: var(--applicant-bg);
  color: var(--applicant-icon);
}
.activity-icon.close {
  background-color: var(--close-bg);
  color: var(--close-icon);
}
.activity-icon.draft {
  background-color: var(--draft-bg);
  color: var(--draft-icon);
}

.action-buttons {
  display: flex;
  align-items: center;
}

.content-action-buttons {
  display: flex;
  align-items: center;
}

.h-1 {
  right: 0px;
  display: flex;
  justify-content: space-between;
  align-items: right;
  margin-bottom: 16px;
}
.h-1 .cl-bn {
  top: 50px;
  color: rgb(255, 255, 255);
  margin-top: 10px;
  right: 0;
  cursor: pointer;
  font-size: 10px;
  width: 12px;
  height: 12px;
}

.main-header-line {
  right: 0px;
  display: flex;
  justify-content: left;
  align-items: left;
  margin-bottom: 16px;
}
.main-header-line h1 {
  /* color: var(--main-color); */
  color: #fff;
  margin: 0;
  font-size: 24px;
  line-height: 32px;
}
.main-header-line input {
  border-radius: 4px;
  background-color: var(--color-light);
  border: none;
  border: 1px solid var(--color-light);
  color: var(--main-color);
  height: 32px;
  padding: 0 8px 0 32px;
  font-size: 14px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%233481d2' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-search'%3E%3Ccircle cx='11' cy='11' r='8'/%3E%3Cline x1='21' y1='21' x2='16.65' y2='16.65'/%3E%3C/svg%3E");
  background-position: center left 10px;
  background-repeat: no-repeat;
  background-size: 16px;
  outline: none;
  transition: 0.2s;
  width: 100%;
  max-width: 400px;
  margin-left: 16px;
}
.main-header-line input:placeholder {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.6);
}
.main-header-line input:hover, .main-header-line input:focus {
  border: 1px solid #3481d2;
  box-shadow: 0 0 0 3px var(--color-light);
}

.menu-button,
#menu-button {
  width: 40px;
  height: 40px;
  margin-left: 8px;
  display: none;
  justify-content: center;
  align-items: center;
  padding: 0;
  background-color: var(--app-bg-dark);
  border: none;
  color: var(--main-color);
  border-radius: 4px;
}

.bn-t12 {
  justify-content: center;
  align-items: center;
  padding: 0;
  background-color: var(--app-bg-dark);
  border: none;
  color: var(--main-color);
  border-radius: 4px;
}

.bn-t12:hover {
  color: rgb(255, 8, 0);
}

.close-menu {
  position: absolute;
  top: 16px;
  right: 16px;
  display: none;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: transparent;
  padding: 0;
  color: var(--main-color);
  cursor: pointer;
}

.access-links {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 -8px;
}

.access-icon {
  width: 100%;
  height: 100%;
  border-radius: 12px;
  padding: 20px;
  color: #ec0c0c;
  display: flex;
  align-items: center;
  justify-content: center;
}
.access-icon svg {
  width: 36px;
  height: 36px;
}

.access-link-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 8px;
}
.access-link-wrapper:nth-child(1) .access-icon {
  background-color: rgba(97, 102, 254, 0);
}
.access-link-wrapper:nth-child(2) .access-icon {
  background-color: rgba(97, 102, 254, 0);
}
.access-link-wrapper:nth-child(3) .access-icon {
  background-color: rgba(50, 116, 247, 0);
}
.access-link-wrapper:nth-child(4) .access-icon {
  background-color: rgba(50, 116, 247, 0);
}
.access-link-wrapper:nth-child(5) .access-icon {
  background-color: rgba(50, 116, 247, 0);
}
.access-link-wrapper:nth-child(6) .access-icon {
  background-color: rgba(50, 116, 247, 0);
}

.access-text {
  color: #fff;
  font-size: 12px;
  line-height: 24px;
}

.access-link-wrapper:hover {
  background-color: rgba(118, 159, 242, 0.3411764706);
  border-radius: 8px;
  color: #050e2d;
}

/* media responsiveness */
@media screen and (max-width: 520px) {
  .chart-row.two .small {
    flex-direction: column;
  }
  .chart-row.two .small .chart-container {
    width: 100%;
  }
  .chart-row.two .small .chart-container.applicants {
    margin-top: 16px;
  }
  .main-header-line h1 {
    font-size: 14px;
  }
}
@media screen and (max-width: 650px) {
  .chart-row.three {
    flex-direction: column;
  }
  .chart-row.three .chart-container-wrapper {
    width: 100%;
  }
  .chart-svg {
    min-height: 60px;
    min-width: 40px;
  }
}
@media screen and (max-width: 920px) {
  .menu-button,
  #menu-button {
    display: flex;
  }
  .app-left {
    position: absolute;
    opacity: 0;
    top: 0;
    z-index: 2;
    height: 100%;
    width: 220px;
    right: -100%;
    box-shadow: 0 0 10px 5px rgba(1, 8, 31, 0.4);
  }
  .close-menu {
    display: flex;
  }
}
@media screen and (max-width: 1180px) {
  .chart-row.two {
    flex-direction: column;
  }
  .chart-row.two .big {
    max-width: 100%;
  }
  .chart-row.two .small {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .chart-row.two .small .chart-container {
    width: calc(50% - 8px);
  }
  .chart-row.two .small .chart-container.applicants {
    margin-top: 0;
  }
}
@media screen and (max-width: 1200px) {
  .app-right {
    position: absolute;
    opacity: 0;
    top: 0;
    z-index: 2;
    height: 100%;
    width: 320px;
    right: -100%;
    box-shadow: 0 0 10px 5px rgba(1, 8, 31, 0.4);
  }
  .app-right .close-right {
    position: absolute;
    top: 16px;
    right: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: transparent;
    padding: 0;
    color: var(--main-color);
    cursor: pointer;
  }
  .app-main .open-right-area,
  #open-right-area {
    display: flex;
    color: var(--main-color);
  }
}
@media screen and (max-width: 1350px) {
  .app-right {
    flex-basis: 240px;
    width: 240px;
  }
  .app-left {
    flex-basis: 200px;
  }
}

/*# sourceMappingURL=styles.css.map */

.context-menu {
  position: absolute;
  z-index: 1000;
  background: #fff;
  border: 1px solid #ccc;
  padding: 5px 0;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  display: none;
}

.context-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.context-menu ul li {
  padding: 8px 20px;
  cursor: pointer;
}

.context-menu ul li:hover {
  background-color: #36306569;
}







/* selected files styling */

/* Style for the container holding selected files */
#selectedFiles {
  margin-top: 10px;
}

/* Style for each individual file item */
.file-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  margin-bottom: 5px;
  border: 1px solid #ccc;
}


/* Style for the checkbox */
.file-checkbox {
  margin-right: 10px;
}

/* Style for the remove button */
.remove-button {
  background-color: #ff6347; /* IndianRed */
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

/* Style for the remove button on hover */
.remove-button:hover {
  background-color: #cc4c38; /* Darker shade of IndianRed */
}


/* Hide checkboxes */
.file-checkbox {
  display: none;
}

/* Style selected files */
.card-container.selected {
  background-color: #b30000; /* Change background color as desired */
}

/* Style selected files */
.card.selected {
  background-color: #b30000;
  z-index: 1;
  cursor: pointer;
}

#card-content-name{
  color: #02ffbb;
  list-style: none;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  overflow: hidden;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

  /* Display full text on hover */
  #card-content-name:hover {
      white-space: normal;
      overflow: visible;
  }
