/** @format */

body {
	color: #fff;
}

.image-container-box {
	max-width: 250px;
	max-height: 150px;
	display: grid;
	justify-items: center;
	background: #010415;
	border-radius: 5px;
	transition: 1s ease;
}

.image-container-box:hover {
	transform: scale(1.12);
	box-shadow: 0 0 10px rgba(73, 173, 239, 0.748);
}

.image {
	margin: 10px;
	object-fit: cover;
	max-width: 250px;
	max-height: 250px;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.image img {
	height: auto;
	object-fit: contain;
	max-width: 100%;
	cursor: pointer;
}

.image-name {
	width: 100%;
	padding: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
	position: sticky;
}

@media screen and (max-width: 400px) {
	#fileList,
	#audiofileList,
	#videofileList,
	#photosfileList {
		display: flex;
		align-items: center;
		justify-content: center;
		justify-items: center;
	}

	.image-container-box:hover {
		transform: scale(1);
	}

	.image {
		max-width: 250px;
		max-height: 250px;
		overflow: hidden;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		gap: 10;
	}

	.image img {
		object-fit: contain;
		max-width: 100%;
		cursor: pointer;
	}
	.image-name .file-name {
		font-size: 10px;
		color: #dfd6d6;
		text-align: center;
		margin-top: 15px;
	}
}

.fullscreen-img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.file-name {
	text-align: center;
	margin-top: 15px;
	font-size: 14px;
	color: #dfd6d6;
}

.file-name:hover {
	color: #02ffbb;
	text-decoration: none;
	cursor: pointer;
	width: 100%;
}

.video-container-box {
	padding: 10px;
	max-width: 250px;
	justify-items: center;
	background: #010415;
	border-radius: 5px;
	transition: 1s ease;
}

.video-container-box:hover {
	transform: scale(1.12);
	box-shadow: 0 0 10px rgba(73, 173, 239, 0.748);
}

.video-container-box video {
	max-width: 100%;
	max-height: 100%;
}

.video-container-box div {
	text-align: center;
}

/* Styles for video container */
.video {
	/* margin: 10px; */
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
	display: inline-block;
	max-width: 100%;
	max-height: 200px;
	overflow: hidden;
}

/* Styles for video elements inside video containers */
.video video {
	max-block-size: 100%;
	height: 100%;
	object-fit: cover;
}

.video-container-box video::-webkit-media-controls-enclosure {
	
	color: red;
	background-color: red;
}

.video-container-box video::-webkit-media-controls-enclosure:hover {
	display: block;
	color: white;
}

.audio-container-box {
	padding: 10px;
	max-width: 250px;
	justify-items: center;
	background: #010415;
	border-radius: 5px;
	transition: 1s ease;
}

.audio-container-box:hover {
	transform: scale(1.12);
	box-shadow: 0 0 10px rgba(73, 173, 239, 0.748);
}

.audio-container-box audio {
	width: 100%;
	background-color: #010415;
}

.audio-container-box audio::-webkit-media-controls-panel {
	background-color: #9585e5;
	color: #333;
	border-radius: 5px;
}

#docfileList {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	gap: 20px;
}

.doc-wrapper-container {
	max-width: 220px;
	justify-items: center;
	background: #010415;
	border-radius: 5px;
	transition: 1s ease;
}

@media screen and (max-width: 360px) {
	#docfileList {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
	}

	.doc-container-box {
		padding: 10px;
		max-width: 220px;
		justify-items: center;
		background: #010415;
		border-radius: 5px;
		transition: 1s ease;
		min-width: 200px;
	}
}

.doc-container-box {
	padding: 10px;
	justify-items: center;
	background: #010415;
	border-radius: 5px;
	transition: 1s ease;
}

.doc-container-box:hover {
	transform: scale(1.12);
	box-shadow: 0 0 10px rgba(73, 173, 239, 0.748);
}

/* File icons */
.doc-container-box i {
	font-size: 25px;
	padding-right: 10px;
	color: #007bff;
	text-align: left;
	align-items: center;
	float: left;
}

.doc-container-box .file-name {
	text-decoration: none;
	cursor: pointer;
	text-align: left;
	align-items: center;
}

.files-container {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	grid-gap: 20px;
}

#otherFilesList {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	gap: 10px;
}

.files-container-box {
	max-width: 250px;
	height: 54px;
	display: flex;
	justify-content: space-between;
	justify-items: center;
	align-items: center;
	background: #010415;
	border-radius: 5px;
	transition: 1s ease;
}

.files-container-box:hover {
	transform: scale(1.12);
	box-shadow: 0 0 10px rgba(73, 173, 239, 0.748);
}

.files-container-box i {
	float: left;
	font-size: 32px;
	margin: 10px;
	display: inline;
	justify-content: center;
	align-items: center;
}

.files-container-box .file-name {
	text-decoration: none;
	cursor: pointer;
	text-align: left;
	align-items: center;
	font-size: 12px;
	width: 100%;
	height: 100%;
	display: flexbox;
	justify-content: space-around;
}

.files-container-box-contents {
	display: flex;
	align-items: center;
}

.far.fa-file-pdf {
	color: red;
}

.far.fa-file-word {
	color: blue;
}

.far.fa-file-excel {
	color: green;
}

#videofileList,
#audiofileList,
#otherFilesList {
	margin-top: 20px;
}

#i41 {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 32.5px;
	line-height: 20px;
	outline: 0;
	border: 0;
	display: none;
	font-size: 1em;
	border-radius: 20px;
	padding: 0 20px;
}

.fa {
	box-sizing: border-box;
	padding: 5px;
	width: 32.5px;
	height: 32.5px;
	position: absolute;
	top: 0;
	right: 0;
	border-radius: 50%;
	color: #ffffff;
	text-align: center;
	font-size: 1.2em;
	transition: all 1s;
}

#search-form:hover,
#search-form:valid {
	width: 200px;
	cursor: pointer;
}

#search-form:hover #i41,
f#search-form:valid #i41 {
	display: block;
}

#search-form:hover .fa,
#search-form:valid .fa {
	background: #13161675;
	color: rgb(255, 0, 0);
}

#search-form:valid a {
	display: block;
}

/* Style for the context menu container */
.context-menu-container {
	position: absolute;
	background-color: #05074c;
	border: 1px solid #ccc;
	border-radius: 5px;
	box-shadow: 0 2px 5px rgb(6, 249, 201);
	z-index: 1000;
	padding: 10px;
	color: #f1eeee;
	width: 150px;
	height: 150px;
	display: flex;
	flex-direction: column;
	gap: 20px;
	text-align: left;
	justify-content: center;
	align-content: center;
}

/* Style for the context menu buttons */
.context-menu-button {
	display: flex;
	align-items: center;
	background-color: transparent;
	border: none;
	padding: 5px;
	width: 100%;
	text-align: left;
	cursor: pointer;
}

.context-menu-button .icon {
	margin-right: 8px;
}

.context-menu-button:hover {
	background-color: #05074cb9;
	color: #00ff59;
}

.context-menu-button .fas {
	font-size: 14px;
}

/* ################################## */

/* Container for the entire context menu */
.share-context-menu-container {
	position: absolute;
	background-color: #05074c;
	border: 1px solid #ccc;
	border-radius: 8px;
	box-shadow: 0 2px 10px rgba(147, 3, 3, 0.616);
	padding: 15px;
	z-index: 1000;
}

/* Container for the header and close button */
.header-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 36px;
}

/* Header styling */
.share-context-menu-header {
	font-size: 16px;
	font-weight: bold;
	margin: 0;
	color: #ffffff;
	padding-right: 32px;
}

/* Close button styling */
.context-menu-button {
	width: 20px;
	height: 20px;
	background: none;
	padding-left: 20px;
	float: right;
	right: 0px;
	border: none;
	cursor: pointer;
	font-size: 16px;
	color: #ffffff;
	transition: color 0.3s;
}

.context-menu-button:hover {
	color: #c10e0e;
}

/* Input field styling */
.context-menu-input {
	width: 100%;
	padding: 8px;
	margin-bottom: 10px;
	border: 1px solid #060a44;
	border-radius: 4px;
	outline: none;
	background: #4244a6a1;
	color: #fff;
	font-size: 16px;
	line-height: 1;
}

.context-menu-input:focus {
	outline: #02ffbb;
}

/* Share button styling */
.shareButton {
	background-color: #050662;
	color: white;
	border: none;
	padding: 8px 12px;
	border-radius: 4px;
	cursor: pointer;
	font-size: 14px;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: background-color 0.3s;
}

.shareButton:hover {
	background-color: #0e097ab1;
}

.shareButton .icon {
	margin-right: 5px;
}

.msgContainer {
	color: #ffffff;
	width: 100%;
	height: 32px;
	text-align: left;
	justify-content: center;
	align-items: center;
	background: #8e9fff00;
	z-index: 99999;
}

.file-checkbox {
    position: relative;
    z-index: 1;
	background-color: #00ff59;
	color: #02ffbb;
}
